<img src="pandas.JPG" alt="Drawing" style="width: 600px;"/>

# Introduction

If you're thinking about data science as a career, then it is imperative that one of the first things you do is learn pandas. In this post, we will go over the essential bits of information about pandas, including how to install it, its uses, and how it works with other common Python data analysis packages such as matplotlib and scikit-learn.

## What can it do?

Pandas has many many uses.

For example, say you want to explore a dataset stored in a CSV on your computer. Pandas will extract the data from that CSV into a DataFrame — a table, basically — then let you do things like:

- Calculate statistics and answer questions about the data, like
- What's the average, median, max, or min of each column?
- Does column A correlate with column B?
- What does the distribution of data in column C look like?
- Clean the data by doing things like removing missing values and filtering rows or columns by some criteria
- Visualize the data with help from Matplotlib. Plot bars, lines, histograms, bubbles, and more.
- Store the cleaned, transformed data back into a CSV, other file or database

Let's go!

## Pandas

### Installing and importing

In [5]:
#Install from Jupyter
!pip install pandas
import pandas as pd
"SUCCESS"

Requirement already satisfied: pandas in c:\users\kyle\appdata\local\programs\python\python37-32\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\kyle\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\kyle\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in c:\users\kyle\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in c:\users\kyle\appdata\local\programs\python\python37-32\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

You are using pip version 19.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

'SUCCESS'

## Creating dataframes

The primary two components of pandas are the Series and DataFrame.

A Series is essentially a column, and a DataFrame is a multi-dimensional table made up of a collection of Series.

In [12]:
#Create dataframe from lists

import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df_people = pd.DataFrame(data,columns=['Name','Age'])
df_people

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [13]:
df_people = pd.DataFrame(data, index=['251100', '052388', '112477'])
df_people

             0   1
251100    Alex  10
052388     Bob  12
112477  Clarke  13

In [14]:
df_people.loc['251100']

0    Alex
1      10
Name: 251100, dtype: object

## Reading data from CSVs

In [16]:
#Reading movie reviews dataset
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")
movies_df.head()

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [17]:
#View last 2 rows
movies_df.tail(2)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [18]:
# More about the dataframe
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
Rank                  1000 non-null int64
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Year                  1000 non-null int64
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(4), object(4)
memory usage: 74.2+ KB

In [19]:
# View (rows, columns)
movies_df.shape

(1000, 11)

## Some data cleaning

### Dropping duplicates

To demonstrate, let's simply just double up our movies DataFrame by appending it to itself:

In [20]:
temp_df = movies_df.append(movies_df)
temp_df.shape

(2000, 11)

In [21]:
temp_df = temp_df.drop_duplicates()
#Check the new shape of temp_df

(1000, 11)

### Renaming columns

Let's give our columns names which are simpler.

In [24]:
#First view the columns names
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [26]:
#Rename runtime column

movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
    }, inplace=True)

movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue (Millions)', 'Metascore'],
      dtype='object')

In [29]:
# Now rename Revenue column

### Handling missing values

In [34]:
#View missing values
movies_df.isnull().head(10)

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue,Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,False,False,False,False,False,False,False,False,False,False,False
Prometheus,False,False,False,False,False,False,False,False,False,False,False
Split,False,False,False,False,False,False,False,False,False,False,False
Sing,False,False,False,False,False,False,False,False,False,False,False
Suicide Squad,False,False,False,False,False,False,False,False,False,False,False
The Great Wall,False,False,False,False,False,False,False,False,False,False,False
La La Land,False,False,False,False,False,False,False,False,False,False,False
Mindhorn,False,False,False,False,False,False,False,False,False,True,False
The Lost City of Z,False,False,False,False,False,False,False,False,False,False,False
Passengers,False,False,False,False,False,False,False,False,False,False,False

In [33]:
#View missing values per column
movies_df.isnull().sum()

Rank             0
Genre            0
Description      0
Director         0
Actors           0
Year             0
Runtime          0
Rating           0
Votes            0
Revenue        128
Metascore       64
dtype: int64

In [37]:
# Let's replace missing values with 0

movies_df['Revenue'].fillna(0, inplace=True)

In [38]:
# Let's replace missing values in Metascore with the mean of all metascores

# First calculate the mean using column.mean()

# Then Fill NA